{% comment %}
  Breadcrumbs: A universal snippet to create breadcrumbs navigation.
{% endcomment %}

{% unless template.name == 'index' %}
  <nav class="page-width breadcrumb" aria-label="Breadcrumb">
    <ol class="breadcrumb-list">
      <!-- Home Link -->
      <li class="breadcrumb-item">
        <a href="{{ shop.url }}" title="Home">{{ 'general.breadcrumbs.home' | t }}</a>
      </li>

      {% if template.name == 'list-collections' %}
        <!-- Skip Collections on Collections Listing Page -->
        <!-- No breadcrumb shown here -->

      {% elsif template.name == 'collection' %}
        <!-- Collection-specific Breadcrumb -->
        
        <li class="breadcrumb-item">{{ collection.title }}</li>

      {% elsif template.name == 'product' %}
        <!-- Product Page Breadcrumb -->
        {% if product.collections.size > 0 %}
          <li class="breadcrumb-item">
            <a href="{{ shop.url }}{{ product.collections.first.url }}">{{ product.collections.first.title }}</a>
          </li>
        {% endif %}
        <li class="breadcrumb-item">{{ product.title }}</li>

      {% elsif template.name contains 'blog' %}
        <!-- Blog Page Breadcrumb -->
        {% if article %}
          <!-- Blog Article Breadcrumb -->
          <li class="breadcrumb-item">
            <a href="{{ shop.url }}{{ article.blog.url }}">{{ article.blog.title }}</a>
          </li>
          <li class="breadcrumb-item">{{ article.title }}</li>
        {% else %}
          <!-- Blog Listing Page Breadcrumb -->
          <li class="breadcrumb-item">
            Blog
          </li>
        {% endif %}

      {% elsif template.name == 'page' %}
        <!-- Static Page Breadcrumb -->
        <li class="breadcrumb-item">{{ page.title }}</li>
        
      {% elsif template.name == 'login' %}
        <!-- Login Page Breadcrumb -->
        <li class="breadcrumb-item">Login</li>

      {% elsif template.name == 'cart' %}
        <!-- Cart Page Breadcrumb -->
        <li class="breadcrumb-item">Cart</li>

      {% elsif request.path contains 'policies' %}
        <!-- Policies Page Breadcrumb -->
        {% assign path_parts = request.path | split: '/' %}
        {% assign last_part = path_parts.last %}
        <li class="breadcrumb-item">{{ last_part | replace: 'privacy-policy', 'Privacy policy' | replace: '-', ' ' | capitalize }}</li>

      {% endif %}
    </ol>
  </nav>
{% endunless %}


<style>
  .breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-left: 10px;
  }
  .breadcrumb-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .breadcrumb-item {
    margin-right: 8px;
  }
  .breadcrumb-item:not(:last-child)::after {
    content: "/";
    margin-left: 8px;
  }
  .breadcrumb-item a {
    text-decoration: none;
    color: black;
    opacity: .5;
  }
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }

  @media only screen and (max-width: 768px) {
    .breadcrumb {
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
</style>
